a {
	color: #C4B28A;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
}

a:visited:hover {
	color: #666666;
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

body {
	color: #666666;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 1em;
	margin: 20px 10px 0px 10px;
	padding: 0px;
}

p, pre {
	margin: 0px 10px 10px 10px;
}

.banner {
	height: 1.2em;
	background: #E7EFF2;
	color: #616550;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

#center {
	background: #FFFFFF;
	color: #666666;
	float: left;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 0.65em;
	line-height: 1.2em;
	padding: 0px 10px 10px 10px;
	margin: 0;
	overflow: hidden;
}


#center #slogan {
	color: #999999;
	font-family: Verdana,Arial,Helvetica, sans-serif;
	font-size: 1.2em;
	margin: 10px 0px 0 0;
	padding: 7px 0 0 15px;
	line-height: 1.3em;
	float: left;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #999999;
}

#center h1 {
	font-size: 12px;
	padding: 0;
  margin: 5px 0px 12px 0px;
	clear: both;
}

#center h1.site-name {
  float: left;
  margin: 8px 15px 15px 0px;
  padding: 0;
	line-height: 2.3em;
}
#center h1.site-name a {
	color: #84ABB0;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 30px;
	font-weight: normal;
}

#center h2 {
  margin: 5px 0px 12px 0px;
	clear: both;
}

#center h2 a {
	color: #84ABB0;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-weight: normal;
}

#center p {
	padding-left: 0px;
}

#breadcrumb {
  clear: both;
}

#center .links {
  margin: -5px 15px 15px 0px;
  float: right;
}

#center .links a {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 1.0em;
}

#footer {
	color: #999999;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	text-align: center;
	text-transform: none;
}

#left {
	background: #EEEEEE;
	border-right: 1px solid;
	float: left;
	padding-bottom: 10px;
	width: 18%;
	border-color: #CCCCCC;
	overflow: hidden;
}


#left a {
	color: #83ABB0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.3em;
}

#left h1, #left h2 {
	color: #999999;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 15px;
	padding-left: 5px;
	padding-top: 10px;
}

#left p {
	color: #999999;
	font-family: Verdana,Arial,Helvetica, sans-serif;
	font-size: 0.7em;
	line-height: 1.3em;
	padding-left: 5px;
}

/* Menu Formatting */
#block-user-1 ul {
	margin: 0px;
	padding: 0px;
}
#block-user-1 ul li li {
	padding-left: 15px;
}
#block-user-1 ul li {
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
}
#block-user-1 ul li a {
	border-bottom: 1px solid #EEEEEE;
  display: block;
	padding: 0px 0px 0px 5px;
  margin: 0px 0px 0px 0px;
  height: 1.4em;
	font-size: 8pt;
	color: #C4B28A;
  text-transform: capitalize;
}
#block-user-1 ul li a:hover {
	background-color: #e7eff2;
	color: #666666;
}

#right1 {
	background: #FFFFFF;
	border-left: 1px solid #EEEEEE;
	color: #666666;
	float: left;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 0.65em;
	line-height: 1.2em;
	padding: 0px 5px 5px 5px;
  margin: 0;
	width: 19%;
	overflow: hidden;
}

#right1 a {
	font-size: 1.1em;
}

#right1 h2 {
	color: #BF9060;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-weight: normal;
	padding: 10px 0px 15px 5px;
	margin: 0;
}

#right2 {
	background: #FFFFFF;
	border-left: 1px solid #EEEEEE;
	color: #666666;
	float: left;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 0.65em;
	padding: 0px 5px 5px 5px;
  margin: 0;
	width: 14%;
	overflow: hidden;
}

#right2 a {
	font-size: 1.1em;
}

#right2 h2 {
	color: #BF9060;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-weight: normal;
	padding: 10px 0px 15px 5px;
	margin: 0;
}
#right1 .calendar table, #right2 .calendar table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #EEEEEE;
}
#right1 .calendar td, #right1 .calendar th,
#right2 .calendar td, #right2 .calendar th {
  text-align: center;
  border: 1px solid #EEEEEE;
  padding: 1px;
  margin: 0;
  font-size: 0.8em;
}
#left .search-form input {
	font-size: .6em;
}
